.snake-title {
    background-image: linear-gradient(to right, #343536, #2c2e2f, #252727, #1f2120, #191a18);
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 6px 4px 6px rgb(0, 0, 0);
    color: rgba(255, 255, 255, .9);

    .snake-score {
        color: rgba(255, 255, 255, .9);
    }
}

.snake-area {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 650px;
    height: 650px;
    flex-wrap: wrap;
    background-image: linear-gradient(to left bottom, #052451, #004a7a, #006f7c, #009056, #79a813);

    .snake-square {
        width: 5%;
        height: 5%;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    .snake-head {
        background-color: #A93226;
    }

    .snake-tail {
        background-color: #DC7633;
    }

    .snake-apple {
        background-image: radial-gradient(circle, #a82b62, #b01d52, #b50f3f, #b7072a, #b51010);
    }
}
