body {
    margin: 0;
    background-color: #1b1a1a;
}

* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-h-left {
    justify-content: left;
}

.flex-h-right {
    justify-content: right;
}

@keyframes rotateAnimation {
    0% {
        transform: rotateX(0deg) scale(1);
    } 50% {
        transform: rotateX(180deg) scale(.5);
    } 100% {
        transform: rotateX(360deg) scale(1);
    }
}

@keyframes shakeAnimation {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(5deg);}
    40% {transform: rotate(-5deg);}
    60% {transform: rotate(5deg);}
    80% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

.animate-rotate {
    animation: rotateAnimation .5s;
}

.animate-shake {
    animation: shakeAnimation .5s;
}

.container {
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;

    .arrow-wrapper {
        width: calc((100vw - 750px) / 2);
        height: 100vh;

        .arrow {
            height: 100vh;
            font-size: 2rem;
            opacity: 0.1;
            width: 50px;
            user-select: none;

            &:hover {
                opacity: 0.5;
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }
        }
    }

    .wrapper {
        width: 750px;

        .title {
            font-weight: bold;
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            text-align: center;
            user-select: none;
            text-shadow: 6px 4px 6px rgb(0, 0, 0);
            color: rgba(255, 255, 255, .8);
        }

        .app {
            width: 100%;
            height: 725px;
            background-image: linear-gradient(to right bottom, #1c1d1d, #212223, #272728, #2e2c2d, #343131);
            border: 1px solid rgb(126, 119, 119);
            border-radius: 1rem;
            overflow: hidden;
            flex-wrap: wrap;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);

            .play-wrapper {
                background-color: rgba(255, 255, 255, 0.05);
                width: 100%;
                height: 100%;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .play {
                    font-size: 5rem;
                    user-select: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
