.minesweeper-color-1 { color: rgb(64, 64, 130); &:after { content: "1"; } }
.minesweeper-color-2 { color: rgb(136, 0, 0); &:after { content: "2"; } }
.minesweeper-color-3 { color: rgb(195, 0, 4); &:after { content: "3"; } }
.minesweeper-color-4 { color: rgb(0, 0, 128); &:after { content: "4"; } }
.minesweeper-color-5 { color: rgb(253, 126, 121); &:after { content: "5"; } }
.minesweeper-color-6 { color: rgb(255, 89, 103); &:after { content: "6"; } }
.minesweeper-color-7 { color: rgb(132, 0, 132); &:after { content: "7"; } }
.minesweeper-color-8 { color: rgb(117, 117, 117); &:after { content: "8"; } }
.minesweeper-color-bomb-explode { background-color: rgb(200, 0, 0); &:after { content: "💣"; } }
.minesweeper-color-bomb { &:after { content: "💣"; } }
.minesweeper-color-bomb-miss { &:before { content: "💣"; } &:after { content: "❌"; position: absolute; } }
.minesweeper-color-flag { border: outset 4px rgb(120, 120, 120) !important; font-size: 1.2rem !important; &:after { content: "🚩"; } }
.minesweeper-color-covered { border: outset 4px rgb(120, 120, 120) !important; }

.minesweeper-title {

  div {
    width: 33%;
  }

  .minesweeper-bombs {
    color: rgba(255, 255, 255, .9);
  }
}

.minesweeper-area {
  background-color: rgb(192, 192, 192);

  .minesweeper-square {
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }
}
